<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.mapper.AgentMapper">

    <!-- 用户分页列表 -->
    <select id="selectUserAttrByAgentId" resultType="com.mk.entity.SysAgentAttr">
        select * from sys_agent_attr where agent_id = #{agentId}
    </select>



</mapper>
